h1 {
    color:"brown";
    font-size: 5rem;
    font-family: "Papyrus";
}

.mainT {
    text-align: center;
}


body {
    background-color: rgb(201, 161, 110);
}



.imagecontainer img {
    width: 200px;
} 


.imagecontainer {
    display:flex;
    align-items:center;
    border:2px solid green;
    height:800px;
    align-items:center;
    justify-content:space-around;
}

.mainimage > img {
    width: 800px;
} 


h2 {
    color:"brown";
    font-size: 3rem;
    font-family: "Papyrus";
}
